@import "variables";
// @import 'defaults';

html, body {
  height: 100%;
  margin:0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
}
html,body,div,p,a,span,input {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: 1rem + .6 / $i;
    margin: .4rem 0;
  }
}


input {
  padding: 5px 15px;
  border: 1px solid #eee;
  border-radius: 3px;
  font-size: $fontSize;
  outline: none;
  &:focus {
    box-shadow: #eee 1px 1px 10px,#eee -1px -1px 10px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.app {
  min-height: 100%;
}

.router-view {
  transition: all .5s ease;
  min-height: 100vh;
}

.router-enter, .router-leave {
  opacity: 0;
  transform: translate3d(20px, 0, 0);
}

.router-view {
    transition: all .5s ease;
    min-height: 100vh;
  }

.router-enter, .router-leave {
  opacity: 0;
  transform: translate3d(20px, 0, 0);
}


// --------------
